-e git+https://github.com/f5devcentral/f5-cccl.git@57fa813b3c776aff67f649f29a96709655c6fb5c#egg=f5-cccl
pytest==3.0.2
mock==2.0.0
flake8==3.4.1
pytest-cov==2.5.1
coveralls==1.1
bandit==1.4.0
cryptography>=42.0.0

